*{margin:0;padding:0;}
h1,h2,h3,h4,h5,p{font-size:12px;font-weight:normal;}
i{font-style:normal;font-family:Arial;}
li{list-style:none;}
img{display:block;max-width:100%;}
.clearfix{*zoom:1}
.clearfix:after{content:'.';clear:both;display:block;visibility:hidden;height:0;}
.white{color:#fff;}
.red{color:#ff0000;}
.mar10{margin-top:10px;}








